<template>
    <v-app id="login" class="primary">

    </v-app>
    <!--<v-app>-->
        <!--<v-content>-->
            <!--<v-container fluid fill-height>-->
                <!--<v-layout row>-->
                    <!--<v-flex lg6 style="background-color: #0AB39C; height: 100%; opacity: 0.7">-->

                    <!--</v-flex>-->
                    <!--<v-flex lg6 style="background-color: #0AB39C; height: 100%">-->

                    <!--</v-flex>-->
                <!--</v-layout>-->
            <!--</v-container>-->
        <!--</v-content>-->
    <!--</v-app>-->
</template>

<script>
    export default {
        name: "login2"
    }
</script>

<style lang="css" scoped>
    #login {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
        background: url("https://i.ibb.co/V3msL96/image.png");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        opacity: 0.7;
    }
</style>
