<template>
    <div id="pageCustomerDashboard">
        <v-container grid-list-xl fluid>
            <v-layout row>
                <v-flex xs3>
                    <v-card>
                        <v-img
                                src="https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        ></v-img>
                        <v-card-title>
                            <div style="width: 100%;">
                                <div class="text-xs-center" style="font-weight: bolder; font-size: 16px">Dwi Akhlaric</div>
                                <div class="text-xs-center" style="font-size: 12px">Applied on 24th August 2018</div>
                            </div>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-card-title>
                            <p>Phone</p>
                            <v-spacer></v-spacer>
                            <p>+62 852-1231-4123</p>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-card-title>
                            <p>Status</p>
                            <v-spacer></v-spacer>
                            <p style="color: #1FD001"><strong>ACTIVE</strong></p>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-card-title>
                            <div style="width: 100%">
                                <p>Social Media</p>
                                <div class="text-xs-center">
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                    <a href="#" class="fa fa-instagram"></a>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </div>
                            </div>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-card-title>
                            <div style="width: 100%">
                                <span>Credit Scoring</span>
                                <div class="text-xs-center">
                                    <ChartGauge :score="125"/>
                                </div>
                            </div>
                        </v-card-title>
                    </v-card>
                </v-flex>
                <v-flex xs9>
                    <v-card>
                        <v-card-actions style="background-color: #363636" class="px-3">
                            <p style="font-size: 20px; font-weight: bold; color: #FFFFFF">Personal Data</p>
                        </v-card-actions>
                        <v-card-actions>
                            <table cellspacing="0" class="pa-3">
                                <tbody>
                                    <tr>
                                        <td>NIK</td>
                                        <td>1234123466661313</td>
                                    </tr>
                                    <tr>
                                        <td>Full Name</td>
                                        <td>John Eve</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>Male</td>
                                    </tr>
                                    <tr>
                                        <td>Place, Date of Birth</td>
                                        <td>Jakarta, 26 Mei 1996</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>Boulevard Street, No. 21, Kec. Kemang, Kab. Bogor, Jawa Barat, Indonesia, 12763</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>021-3923042</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td>082318239311</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>mail@fineoz.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import ChartDonut from "@/components/chart/ChartDonut";
    import ChartScore from "@/components/chart/ChartScore";
    import ChartGauge from "@/components/chart/ChartGauge";
    export default {
        name: "details",
        layout: 'customer',
        components: {
            ChartGauge,
            ChartScore,
            ChartDonut
        },
        data: () => ({
            menu_1: ['Basic', 'Advance'],
            menu_2: ['Q1 2019', 'Q4 2018', 'Q3 2018', 'Q2 2018', 'Q1 2018'],
            show_6mo: false,
            productivity: [
                { label: 'Safe', value: 1, color: '#2FA2F4' },
                { label: 'Low Risk', value: 2, color: '#F8C239' },
                { label: 'Risk', value: 3, color: '#F7652B' }
            ]
        })
    }
</script>

<style scoped>
    .judul {
        /*font-family: 'Avenir Next';*/
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }
    h4 {
        font-size: 16px;
    }
    table {
        padding-left: 26px;
        padding-right: 26px;
        width: 100%;
    }
    td {
        font-size: 16px;
        padding-bottom: 12px;
        padding-top: 8px;
        padding-left: 14px;
        border-bottom: 1px solid #D6D6D6;
    }

    tbody>tr>:nth-child(1) {
        color: #9C9C9C;
        width: 210px;
    }

    /*Social Media Icons*/
    .fa {
        padding: 6px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 8px 6px;
        border-radius: 55%;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    .fa-instagram {
        background: #9117A5;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
</style>
