<template>
    <v-container grid-list-xl fluid>
        <v-layout row wrap>
            <v-flex lg6>
                <v-card class="mb-4">
                    <v-toolbar color="indigo" dark flat dense cad>
                        <v-toolbar-title class="subheading">Supporting Data Form</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text class="">
                        <v-form ref="form">
                            <v-text-field label="Riwayat Kredit" name="riwayat_kredit" v-model="riwayat_kredit" required v-validate="'required'"></v-text-field>

                            <v-text-field label="Long Term (Bulan)" name="long_term" v-model="long_term" :rules="long_termRules" required v-validate="'required'"></v-text-field>
                            
                            <v-select label="Penjamin" name="penjamin" :items="penjaminOpt" v-model="penjamin" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="APPI Status" name="appi_status" :items="appi_statusOpt" v-model="appi_status" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="BPJSTK" name="bpjstk" :items="bpjstkOpt" v-model="bpjstk" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="TASPEN" name="taspen" :items="taspenOpt" v-model="taspen_pensiun_type" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="DJP" name="djp" :items="djpOpt" v-model="djp_description" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="Sifat Kredit" name="sifat_kredit" :items="sifatkreditOpt" v-model="pembiayaan_nama_sifat_kredit" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="Kategori Debitur" name="kategori_debitur" :items="kategoridebiturOpt" v-model="pembiayaan_nama_kategori_debitur" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="Sifat Penggunaan Kredit" name="sifat_penggunaan_kredit" :items="sifatpenggunaankreditOpt" v-model="pembiayaan_nama_pengguna_kredit" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="Sektor Ekonomi" name="sektor_ekonomi" :items="sektorekonomiOpt" v-model="pembiayaan_economic_sector_sk" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-select label="Jenis Suku Bunga" name="jenis_suku_bunga" :items="jenissukubungaOpt" v-model="pembiayaan_jenis_suku_bunga" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                            
                            <v-text-field label="Limit" name="limit" v-model="pembiayaan_ori_credit_limit" :rules="limitRules" required v-validate="'required'"></v-text-field>
                            
                            <v-text-field label="Besar Pinjaman" name="besar_pinjaman" v-model="pembiayaan_project_amount_edit" :rules="besar_pinjamanRules" required v-validate="'required'"></v-text-field>
                            
                            <v-btn :disabled="loading" :loading="loading" color="primary" @click="submit" class="ma-0">Submit</v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        layout: 'customer',

        async asyncData ({ app, params, redirect }) {
            let customerId = parseInt(params.id)
            if (isNaN(customerId)) {
                redirect('/customers')
            }

            console.log('__ ID', customerId)

            let editData = {
                "riwayat_kredit": '',
                "long_term": '',
                "penjamin": '',
                "appi_status": '',
                "bpjstk": '',
                "taspen_pensiun_type": '',
                "djp_description": '',
                "pembiayaan_nama_sifat_kredit": '',
                "pembiayaan_nama_kategori_debitur": '',
                "pembiayaan_nama_pengguna_kredit": '',
                "pembiayaan_economic_sector_sk": '',
                "pembiayaan_jenis_suku_bunga": '',
                "pembiayaan_ori_credit_limit": '',
                "pembiayaan_project_amount_edit": ''
            }

            let editMode = false

            let res = await app.$api.customer.aiscore.get(customerId)
            if (res) {
                console.log('__ SUPPORT DATA FOUND', res)
                editMode = true
                editData = res.data
            } else {
                console.log('__ SUPPORT DATA NOT FOUND', res)
            }

            let resAicheck = await app.$api.customer.aicheck.get(customerId)
            if (resAicheck) {
                editData.riwayat_kredit = resAicheck.data.riwayat_kredit
            }

            return {
                customerId,
                editMode,
                ...editData
            }
        },

        data: () => ({
            loading: false,

            riwayat_kredit: '',

            penjaminOpt: ['Ada', 'Tidak'],

            appi_statusOpt: ['0', '1', 'nan'],

            bpjstkOpt: ['Ya', 'Tidak'],

            taspenOpt: ['nan','Pensiun Sendiri PNS Pusat', 'Pensiun Janda/Duda PNS Pusat'],

            djpOpt: ['nan'],

            sifatkreditOpt: ['Kredit atau Pembiayaan yang Direstrukturisasi', 'Pengambilalihan Kredit atau Pembiayaan', 'Kredit atau Pembiayaan Subordinasi', 'Lainnya'],
            
            kategoridebiturOpt: ['Bukan Debitur Usaha Mikro, Kecil, dan Menengah'],
            
            sifatpenggunaankreditOpt: ['Modal Kerja', 'Investasi', 'Konsumsi'],
            
            sektorekonomiOpt: ['9000', '930000', '369000', '804000', '921000', '403000', '14000', '50190', '551100'],
            
            kotaOpt: ['Kab. Flores Timur', 'Kab. Timor-Tengah Utara', 'Kab. Lembata'],
            
            jenissukubungaOpt: ['Fixed', 'Floating', 'Margin', 'Bagi Hasil', 'Ujroh', 'Lainnya'],
            
            limitRules: [
                v => !!v || 'Form must be filled'
            ],
            
            besar_pinjamanRules: [
                v => !!v || 'Form must be filled'
            ],
            
            long_termRules: [
                v => !!v || 'Form must be filled'
            ]
        }),
        methods: {
            validate () {
                if(this.$refs.form.validate()){
                }
            },

            reset () {
                this.$refs.form.reset()
            },

            async submit () {
                if (!this.$refs.form.validate()) {
                    return
                }

                let dataAiScore = {
                    id: this.customerId,
                    "long_term": this.long_term,
                    "penjamin": this.penjamin,
                    "appi_status": this.appi_status,
                    "bpjstk": this.bpjstk,
                    "taspen_pensiun_type": this.taspen_pensiun_type,
                    "djp_description": this.djp_description,
                    "pembiayaan_nama_sifat_kredit": this.pembiayaan_nama_sifat_kredit,
                    "pembiayaan_nama_kategori_debitur": this.pembiayaan_nama_kategori_debitur,
                    "pembiayaan_nama_pengguna_kredit": this.pembiayaan_nama_pengguna_kredit,
                    "pembiayaan_economic_sector_sk": this.pembiayaan_economic_sector_sk,
                    "pembiayaan_jenis_suku_bunga": this.pembiayaan_jenis_suku_bunga,
                    "pembiayaan_ori_credit_limit": this.pembiayaan_ori_credit_limit,
                    "pembiayaan_project_amount_edit": this.pembiayaan_project_amount_edit
                }

                let dataAiCheck = {
                    id: this.customerId,
                    "bpjs": this.bpjstk,
                    "riwayat_kredit": this.riwayat_kredit,
                    "djp": this.djp_description,
                    "taspen": this.taspen_pensiun_type,
                    "appi_status": this.appi_status
                }

                let res
                if (this.editMode) {
                    res = await this.$api.customer.aicheck.put(dataAiCheck)
                    res = await this.$api.customer.aiscore.put(dataAiScore)
                    if (res) {
                        console.log('___ UPDATED AISCORE DATA', res)
                        this.$router.push(`/customers/${this.customerId}`)
                    }
                } else {
                    res = await this.$api.customer.aicheck.post(dataAiCheck)
                    res = await this.$api.customer.aiscore.post(dataAiScore)
                    if (res) {
                        console.log('___ CREATED AISCORE DATA', res)
                        this.$router.push(`/customers/${this.customerId}`)
                    }
                }
            }
        }
    }
</script>
<style lang="css" scoped>
    p.judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 24px;
    }
</style>
