<template>
    <div id="pageCustomerDashboard">
        <v-container grid-list-xl fluid>
            <v-layout row>
                <v-flex xs3>
                    <v-card>
                        <CustomerSummary
                            :id="customer.id"
                            :name="customer.name"
                            :phone="customer.phoneNumber"

                            :aicheckBasicScore="aicheckScore.basic.score"
                            :aicheckBasicValue="aicheckScore.basic.value"

                            :aicheckAdvancedScore="aicheckScore.advanced.score"
                            :aicheckAdvancedValue="aicheckScore.advanced.value"

                            :aiscoreBasicScore="aiscoreScoreLetter(aiscoreScore)"
                            :aiscoreBasicValue="aiscoreScoreValue(aiscoreScore)"
                        />
                    </v-card>
                </v-flex>
                <v-flex xs9>

                    <p class="judul mb-3">AiCheck</p>
                    <v-card class="mb-5">
                        <v-container grid-list-xl fluid>
                            <v-layout wrap>
                                <v-flex xs12 sm6>
                                    <v-card class="pa-4">
                                        <CustomerScore v-bind="aicheckScore.basic" :score="lowercase(aicheckScore.basic.score)" title="Basic"/>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-card class="pa-4">
                                        <CustomerScore v-bind="aicheckScore.advanced" :score="lowercase(aicheckScore.advanced.score)" title="Advanced"/>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>


                    <p class="judul mb-3">AiScore</p>
                    <v-card>
                        <v-container grid-list-xl fluid>
                            <v-layout row>
                                <v-flex xs12 sm6>
                                    <div class="score-options">
                                        <v-select :items="optTime" v-model="optTimeSelected" label="Select quartiles" hide-details></v-select>
                                    </div>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <div class="score-options">
                                        <v-select :items="optPlan" v-model="optPlanSelected" label="Select advanced results" hide-details></v-select>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <v-container grid-list-xl fluid>
                            <v-layout wrap>
                                <v-flex xs12 sm6>
                                    <v-card class="pa-3">
                                        <CustomerScore
                                            :detail="aiscoreScore"
                                            title="Basic Result"
                                            :score="aiscoreScoreLetter(aiscoreScore)"
                                            :value="aiscoreScoreValue(aiscoreScore)"
                                        />
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-card class="pa-3">
                                        <CustomerScore
                                            :detail="aiscoreScore"
                                            title="Advanced Result: Motorcycle"
                                            :score="aiscoreScoreLetter(aiscoreScore)"
                                            :value="aiscoreScoreValue(aiscoreScore)"
                                        />
                                    </v-card>
                                </v-flex>
                                <!-- <v-flex xs4>
                                    <v-card class="pa-3">
                                        <h4 class="text-xs-center pb-2">&lt; 2 years</h4>
                                        <ChartScore
                                            :score="67"
                                            :letter="'B'"
                                        />
                                    </v-card>
                                </v-flex>
                                <v-flex xs4>
                                    <v-card class="pa-3">
                                        <h4 class="text-xs-center pb-2">Final Result</h4>
                                        <ChartScore
                                            :score="74.5"
                                            :letter="'AB'"
                                        />
                                    </v-card>
                                </v-flex> -->
                                <!-- <v-flex xs12>
                                    <v-card class="pa-3" style="height: 100%">
                                        <h4 class="text-xs-center">Quartiles</h4>
                                        <div class="aiscore-quartiles">
                                            <ChartLine :labels="lineChart.labels" :series="lineChart.series"/>
                                        </div>
                                    </v-card>
                                </v-flex> -->
                            </v-layout>
                        </v-container>
                    </v-card>

                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import ChartDonut from "@/components/chart/ChartDonut";
    import ChartScore from "@/components/chart/ChartScore";
    import ChartGauge from "@/components/chart/ChartGauge";
    import ChartScoreDetail from "@/components/chart/ChartScoreDetail";
    import ChartLine from "@/components/chart/ChartLine";
    import CustomerScore from '@/components/customer/CustomerScore'
    import CustomerSummary from '@/components/customer/CustomerSummary'

    export default {
        name: 'page-customer-id',

        layout: 'customer',

        components: {
            ChartLine,
            ChartScoreDetail,
            ChartGauge,
            ChartScore,
            ChartDonut,
            CustomerScore,
            CustomerSummary
        },

        async asyncData ({ params, redirect, app }) {
            let id = params.id
            id = parseInt(id)

            if (isNaN(id)) {
                redirect('/customers')
            }

            let customer = {}
            let aicheckScore = { basic: {}, advanced: {} }
            let aiscoreScore = []

            let res = await Promise.all([
                app.$api.customer.getById(id).then(res => customer = res ? res.data : customer),
                app.$api.customer.aicheck.getScore(id).then(res => aicheckScore = res ? res.data : aicheckScore),
                app.$api.customer.aiscore.getScore(id).then(res => aiscoreScore = res ? res.data : aiscoreScore)
            ])

            console.log('__RES', res)
            console.log('__CUS', customer)
            console.log('__AIC', aicheckScore)
            console.log('__AIS', aiscoreScore)

            return {
                customer,
                aicheckScore,
                aiscoreScore
            }
        },

        data: () => ({
            optPlan: ['Motorcycle', 'Car', 'House'],
            optPlanSelected: 'Motorcycle',

            optTime: ['Q1 2019', 'Q4 2018', 'Q3 2018', 'Q2 2018', 'Q1 2018'],
            optTimeSelected: 'Q1 2019',

            productivity: [
                { label: 'Safe', value: 1, color: '#2FA2F4' },
                { label: 'Low Risk', value: 2, color: '#F8C239' },
                { label: 'Risk', value: 3, color: '#F7652B' }
            ],

            lineChart: {
                labels: ['Q2', 'Q3', 'Q4', 'Q1'],
                series: [
                    [50, 67, 63, 91],
                    [12, 44, 83, 81]
                ]
            }
        }),

        computed: {
            lineChartData () {
                return {
                    labels: ['Q2', 'Q3', 'Q4', 'Q1'],
                    series: [
                        [50, 67, 63, 91],
                        [12, 44, 83, 81]
                    ]
                }
            },

            aiscoreScoreLetter () {
                return details => details.reduce((acc, cur) => '' + acc + cur.score, '')
            },

            aiscoreScoreValue () {
                return details => details.reduce((acc, cur) => acc + (cur.value / details.length), 0)
            },

            lowercase () {
                return str => str.toLowerCase()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .aiscore-quartiles {
        height: 200px;
    }

    .score-card-content {
        max-width: 300px;
        margin: 0 auto;
    }

    .score-card-divider {
        max-width: 120px;
        margin: 18px auto;
    }

    .score-options {
        max-width: 220px;
    }

    .judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }

    /*Social Media Icons*/
    .social-icon {
        display: inline-block;
        padding: 6px;
        width: 32px;
        height: 32px;
        margin: 8px 6px;
        padding: 8px 0;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

        &:hover {
            opacity: 0.7;
        }

        &.fa-facebook {
            background: #3B5998;
            color: white;
        }

        &.fa-twitter {
            background: #55ACEE;
            color: white;
        }

        &.fa-instagram {
            background: #9117A5;
            color: white;
        }

        &.fa-linkedin {
            background: #007bb5;
            color: white;
        }
    }
</style>
