<template>
    <div>
        <div>
            <v-img
                src="https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            />
        </div>

        <div class="pa-3">
            <div class="text-xs-center" style="font-weight: bolder; font-size: 16px">{{ name }}</div>
            <div class="text-xs-center" style="font-size: 12px">Applied on 24th August 2018</div>
        </div>

        <v-divider/>

        <div class="pa-3 d-flex">
            <div>Phone</div>
            <div class="text-xs-right">{{ phone }}</div>
        </div>

        <v-divider></v-divider>

        <div class="pa-3 d-flex">
            <div>Status</div>
            <div class="success--text text-xs-right"><strong>ACTIVE</strong></div>
        </div>

        <v-divider></v-divider>
        
        <div class="pa-3">
            <span class="mb-2">AiCheck Result</span>
            <div class="text-xs-center pa-0 mt-3 d-flex">
                <div>
                    <div class="mb-2">Basic</div>
                    <div class="summary-score summary-score--lc">
                        <h3>{{ aicheckBasicScore }}</h3>
                        <h5>{{ aicheckBasicValue }}%</h5>
                    </div>
                </div>
                <div>
                    <div class="mb-2">Advanced</div>
                    <div class="summary-score summary-score--lc">
                        <h3>{{ aicheckAdvancedScore }}</h3>
                        <h5>{{ aicheckAdvancedValue }}%</h5>
                    </div>
                </div>
            </div>
        </div>

        <v-divider></v-divider>

        <div class="pa-3">
            <span class="mb-2">AiScore Result</span>
            <div class="text-xs-center pa-0 mt-3">
                <div>
                    <div class="mb-2">Basic</div>
                    <div class="summary-score">
                        <h3>{{ aiscoreBasicScore }}</h3>
                        <h5>{{ aiscoreBasicValue }}%</h5>
                    </div>
                </div>
            </div>
        </div>

        <v-divider></v-divider>

        <div class="pa-3">
            <p>Social Media</p>
            <div class="text-xs-center">
                <a href="#" class="fa fa-facebook social-icon"></a>
                <a href="#" class="fa fa-twitter social-icon"></a>
                <a href="#" class="fa fa-instagram social-icon"></a>
                <a href="#" class="fa fa-linkedin social-icon"></a>
            </div>
        </div>

        <v-divider></v-divider>

        <v-card-actions class="justify-center">
            <div class="text-xs-center pa-2">
                <v-btn color="primary" :to="'#'" flat>
                    See Details
                </v-btn>
                <!-- <v-btn color="primary" :to="'/customers/' + id + '/details'" flat>
                    See Details
                </v-btn> -->
            </div>
        </v-card-actions>
    </div>
</template>

<script>
import ChartGauge from "@/components/chart/ChartGauge"

export default {
    name: 'CustomerSummary',

    components: {
        ChartGauge
    },

    props: {
        id: Number,
        name: String,
        phone: String,

        aicheckBasicScore: String,
        aicheckBasicValue: Number,

        aicheckAdvancedScore: String,
        aicheckAdvancedValue: Number,

        aiscoreBasicScore: String,
        aiscoreBasicValue: Number
    }
}
</script>

<style lang="scss" scoped>
/*Social Media Icons*/
.social-icon {
    display: inline-block;
    padding: 6px;
    width: 32px;
    height: 32px;
    margin: 8px 6px;
    padding: 8px 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    &:hover {
        opacity: 0.7;
    }

    &.fa-facebook {
        background: #3B5998;
        color: white;
    }

    &.fa-twitter {
        background: #55ACEE;
        color: white;
    }

    &.fa-instagram {
        background: #9117A5;
        color: white;
    }

    &.fa-linkedin {
        background: #007bb5;
        color: white;
    }
}

.summary-score {
    border: 2px solid #2fa2f4;
    border-radius: 4px;
    width: 64px;
    height: 64px;
    padding-top: 10px;
    margin: 0 auto;
    background: #2fa2f411;

    h3 {
        font-weight: bold;
        line-height: 1;
    }

    h5 {
        font-size: 12px;
    }

    &--lc {
        text-transform: lowercase;
    }
}
</style>
