<template>
    <div class="customer-score">
        <h4 class="text-xs-center pb-2">{{ title }}</h4>
        <ChartScore
            :score="value"
            :letter="score"
        />
        <v-divider class="customer-score__divider"/>
        <ChartScoreDetail
            v-for="(item, i) in detail"
            :key="i"
            :title="item.title"
            :value="item.value"
            :letter="item.score"
            :disabled="item.value <= 0"
        />

        <v-divider class="customer-score__divider"/>
        <h5 class="text-xs-center pb-2">Quarters</h5>
        <ChartLine :labels="labels" :series="series"/>
    </div>
</template>

<script>
import ChartScore from "@/components/chart/ChartScore"
import ChartScoreDetail from "@/components/chart/ChartScoreDetail"
import ChartLine from "@/components/chart/ChartLine"

export default {
    name: 'CustomerScore',

    components: {
        ChartScore,
        ChartScoreDetail,
        ChartLine
    },

    props: {
        title: String,
        score: String,
        value: Number,
        detail: {
            type: Array,
            default: () => []
        }
    },

    computed: {
        labels () {
            return ['Q2', 'Q3', 'Q4', 'Q1']
        },
        series () {
            let length = this.detail.length
            let activity = this.detail.filter(item => item.value > 0).length * (100 / length)
            let presence = this.detail.reduce((acc, cur) => acc + cur.value, 0) / length
            return [
                [50, 67, 63, activity],
                [12, 44, 83, presence]
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.customer-score {
    max-width: 300px;
    margin: 0 auto;

    &__divider {
        max-width: 120px;
        margin: 18px auto;
    }
}
</style>

