<template>
    <v-navigation-drawer v-model="drawer" :mini-variant="mini" permanent app>
        <v-list class="pa-1">
            <v-list-tile v-if="mini" @click.stop="mini = !mini">
                <v-list-tile-action>
                    <v-icon>chevron_right</v-icon>
                </v-list-tile-action>
            </v-list-tile>

            <v-list-tile avatar tag="div">
                <img class="pl-1" v-if="mini" src="http://fineoz.com/assets/images/fineoz-logo-icon-logo-21-234x236.png" height="30">
                <img class="ml-5" v-else src="https://pbs.twimg.com/profile_images/709937330857988097/9LJVhVS8_400x400.jpg" height="60" width="auto"/>
                <v-list-tile-action>
                    <div class="ml-5">
                        <v-btn class="ml-5" icon @click.stop="mini = !mini">
                            <v-icon>chevron_left</v-icon>
                        </v-btn>
                    </div>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
            <v-divider light></v-divider>
            <center v-if="mini">
                <img class="mini" src="https://i.ytimg.com/vi/phxAv7FNYHk/maxresdefault.jpg"/>
            </center>
            <center v-else class="mb-4">
                <img class="gambar" src="https://dipostar.com/assets/img/logo-dipofinance-home.png" height="auto" width="190">
                <p class="pt-2 nama_company">Home Credit</p>
                <span class="pt-2 email_company">halo@homecredit.com</span><br/>
                <span class="pt-2 status_company">Credit Service</span>
            </center>
            <v-divider light></v-divider>
            <v-list-tile
                    v-for="item in items"
                    :key="item.title"
                    :to="item.to"
            >
                <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "SidebarCustomer",
        data () {
            return {
                drawer: true,
                items: [
                    {title: 'Users', icon: 'people', to: '/customers' },
                    {title: 'Activity', icon: 'trending_up', to: '' },
                    {title: 'Report', icon: 'receipt', to: ''},
                    {title: 'DIPO', icon: 'payment', to: '/customers/billing'}
                ],
                mini: true,
                right: null
            }
        }
    }
</script>

<style lang="css" scoped>
    img.gambar {
        /*border-radius: 50%;*/
        margin-top: 20px;
        /*background-size: cover;*/
    }

    img.mini {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    p.nama_company {
        font-size: 18px;
        font-weight: bold
    }

    span.email_company {
        font-size: 10px;
        color: #323C47;
    }

    span.status_company {
        font-size: 12px;
        color: #323C47;
    }
</style>
