<template>
    <v-toolbar fixed app color="#ee1745" dark>
        <!--<v-toolbar-side-icon></v-toolbar-side-icon>-->
        <v-toolbar-items class="hidden-sm-and-down">
            <!--<v-text-field flat solo-inverted prepend-icon="search" label="Search"></v-text-field>-->
            <v-btn flat>HOME</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-icon @click="onLogout">more_vert</v-icon>
        </v-btn>
        <!--<v-menu transition="slide-y-transition" bottom>-->
            <!--<template v-slot:activator="{on}">-->
                <!--<v-btn icon v-on="on">-->
                    <!--<v-icon>more_vert</v-icon>-->
                <!--</v-btn>-->
            <!--</template>-->
            <!--<v-list>-->
                <!--<v-list-tile v-for="(item, i) in menuItems" :key="i">-->
                    <!--<v-list-tile @click="item.href">{{item.list}}</v-list-tile>-->
                <!--</v-list-tile>-->
            <!--</v-list>-->
        <!--</v-menu>-->

    </v-toolbar>
</template>

<script>
    export default {
        name: "ToolbarCustomer",
        data: () => ({
            menuItems: [
                {list: 'Profile'},
                {list: 'Settings'},
                {list: 'Logout'}
            ]
        }),
        methods: {
            onLogout() {
                this.$store.dispatch('logout');
            }
        }
    }
</script>

<style scoped>

</style>
