<template>
    <div id="pageCustomerIndex">
        <v-container grid-list-xl fluid>
            <v-layout row>
                <v-flex xs12>
                    <p class="judul">DIPO STAR FINANCE</p>
                    <v-card class="pa-3">
                        <v-layout>
                            <v-flex class="pb-2">
                                <v-data-table
                                        :headers="headers"
                                        :items="items"
                                        :pagination.sync="pagination"
                                        @update:pagination="fetch"
                                        :rows-per-page-items="[5, 25, 100]"
                                        class="elevation-1"
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-left">
                                            <v-checkbox
                                                v-model="props.selected"
                                                primary
                                                hide-details
                                            ></v-checkbox>
                                        </td>
                                        <td class="text-xs-left">{{ props.item.id }}</td>
                                        <td class="text-xs-left">{{ props.item.name }}</td>
                                        <td class="text-xs-left">
                                            {{ props.item.mail }}
                                        </td>
                                        <td class="text-xs-left">{{ props.item.phone }}</td>
                                        <!-- <td class="text-xs-left">
                                            <v-btn color="info" small flat :to="'/customers/' + props.item.id">
                                                View Score
                                            </v-btn>
                                            <v-btn color="info" small flat :to="'/customers/' + props.item.id + '/details'">
                                                View Details
                                            </v-btn>
                                        </td> -->
                                    </template>
                                    <!-- <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                        Your search for "{{ search }}" found no results.
                                    </v-alert> -->
                                </v-data-table>
                            </v-flex>
                        </v-layout>
                        <div class="ctn">
                            <input type="checkbox" id="check"/>
                            <label for="check" class="btn-label">
                                <span class="load open"></span>
                        <n-link to="/customers">
                            <v-btn absolute dark top right color="info">
                                Scoring
                            </v-btn>
                        </n-link>
                        </label>
                        </div>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'page-customers',

        layout: 'customer',
        data () {
            return {
                nik: '3519060412940001',
                dummy_nik: [],
                search: '',
                dialog: false,
                dialog2: false,
                headers: [
                    {
                        text: '',
                        sortable: false,
                    },
                    {
                        text: 'NIK',
                        align: 'left',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'NAMA',
                        value: 'name',
                        sortable: false
                    },
                    {
                        text: 'Telephone',
                        value: 'email',
                        sortable: false
                    },
                ],
                customerList: [],
                pagination: {
                    descending: false,
                    page: 1,
                    rowsPerPage: 25,
                    sortBy: 'id',
                    totalItems: 0
                }
            }
        },

        computed: {
            items () {
                return this.customerList.map(c => {
                    return {
                        id: c.id,
                        photo: 'https://d3ui957tjb5bqd.cloudfront.net/images/users/22/227/227721/avatar-50-50.jpg?1486431811',
                        name: c.name,
                        mail: c.emailAddress,
                        phone: c.phoneNumber
                    }
                })
            }
        },

        methods: {
            async fetch () {
                let params = {
                    page: this.pagination.page - 1,
                    size: this.pagination.rowsPerPage
                }
                let res = await this.$api.customer.get(params)
                if (res) {
                    this.customerList = res.data
                    this.pagination.totalItems = res.pagination.totalElements
                }
            },

            async check_nik() {
                // console.log('NIK input: '+this.nik);
                axios.get('http://localhost:9000/fineoz_api/api/ai_score/dummy_nik/read_single.php?nik='+this.nik).then((response) => {
                    console.log(JSON.stringify(response.data));
                    var json = JSON.stringify(response.data);
                    var obj = JSON.parse(json);
                    var nik = obj.nik;

                    if(nik == null)
                    {
                        this.dialog2 = true;
                    }
                    else
                    {
                        this.dialog = true;
                    }

                })

                // this.$store.dispatch('snackbar');
            }
        },

        mounted () {
            this.fetch()
        }
    }
</script>

<style lang="css" scoped>
    p.judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }
    p.subjudul {
        font-size: 16px;
        color: #2F2D3B;
        font-weight: bold;
    }
    .numberInCard {
        /*font-family: Rubik;*/
        font-size: 28px;
        color: #FFFFFF;
    }
    .textInCard {
        /*font-family: "Avenir Next";*/
        font-weight: bold;
        color: #FFFFFF;
        padding-top: 8px;
    }

    .ctn{
        display: flex;
        justify-content: center;
        height: 100%;
        min-height: 100%;
    }
    #check{
        display: none;
    }
    .btn-label{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
        border: none;
        font-family: sans-serif;
        font-size: 30px;
        color: #FFFEEE;
    }
    .btn-text{
        font-family: serif;
        font-size: 30px;
        color: #FFFEEE;
    }
    .load{
        display: none;
        width: 20px;
        height: 20px;
        border: 5px solid #FFFFFF;
        border-radius: 100%;
    }
    .open{
        border-top: 5px solid transparent;
        animation: load-animate infinite linear 1s;
    }
    #check:checked ~ .btn-label > .btn-text{
        display: none;
    }
    #check:checked ~ .btn-label > .load{
        display: inline-block;
    }
    @keyframes load-animate
        0%
			transform rotate(0deg)
		50%
			transform rotate(180deg)
			opacity .35
		100%
			transform rotate(360deg)
    
</style>
