<template>
    <v-container grid-list-xl fluid>
        <v-layout row>
            <v-flex xs12>
                <p class="judul">Customers</p>
                <p class="subjudul">Quick Check Customer</p>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex sm2>
                <v-text-field outline label="NIK" :counter="16" name="nik" v-model="nik" :rules="nikRules" required v-validate="'required'"></v-text-field>
            </v-flex>
            <!--<v-flex sm3>-->
                <!--<v-text-field outline label="Nama Lengkap" name="nama" v-model="name" :rules="nameRules" required v-validate="'required'"></v-text-field>-->
            <!--</v-flex>-->
            <!--<v-flex sm3>-->
                <!--<v-menu-->
                        <!--ref="menu"-->
                        <!--v-model="birthDateMenu"-->
                        <!--:close-on-content-click="false"-->
                        <!--:nudge-right="40"-->
                        <!--lazy-->
                        <!--transition="scale-transition"-->
                        <!--offset-y-->
                        <!--full-width-->
                        <!--min-width="290px"-->
                <!--&gt;-->
                    <!--<template v-slot:activator="{ on }">-->
                        <!--<v-text-field-->
                                <!--outline-->
                                <!--v-model="birthDate"-->
                                <!--label="Tanggal Lahir"-->
                                <!--readonly-->
                                <!--v-on="on"-->
                        <!--&gt;</v-text-field>-->
                    <!--</template>-->
                    <!--<v-date-picker-->
                            <!--ref="picker"-->
                            <!--v-model="birthDate"-->
                            <!--:max="new Date().toISOString().substr(0, 10)"-->
                            <!--min="1950-01-01"-->
                    <!--&gt;</v-date-picker>-->
                <!--</v-menu>-->
            <!--</v-flex>-->
            <v-flex sm2>
                <v-btn color="indigo" dark large v-on:click="coba_simpan">CHECK DATA</v-btn>
            </v-flex>

            <!--- Dialog--->
            <v-dialog v-model="dialog" width="500" persistent>
                <v-card>
                    <v-card-title
                            class="headline red darken-1 dark"
                            primary-title
                    >
                        ALERT
                    </v-card-title>

                    <v-card-text>
                        NIK tidak ada dalam database kami. Silahkan input secara manual!
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <nuxt-link to="/customers/create">
                            <v-btn
                                    color="primary"
                                    flat
                            >
                                OK
                            </v-btn>
                        </nuxt-link>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
        <v-layout row v-if="tampilData === true">
            <v-divider></v-divider>
            <v-flex sm12>
                <h3 style="font-weight: bold"><strong>Quick Check</strong></h3>
                <v-card>
                    <table class="table table-bordered quickCheck">
                        <tbody>
                        <tr>
                            <td style="width: 10%">KTP</td>
                            <td style="width: 40%">{{this.individualList.nik}}</td>
                            <td style="width: 13%">Nama Lengkap</td>
                            <td>{{this.individualList.name}}</td>
                        </tr>
                        <tr>
                            <td>Jenis Kelamin</td>
                            <td>
                                {{this.gender}}
                            </td>
                            <td>Tempat, Tanggal Lahir</td>
                            <td>{{this.individualList.birthPlace}}, {{this.individualList.birthDate}}</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>{{this.individualList.address}}</td>
                            <td>Status Pernikahan</td>
                            <td>{{this.individualList.maritalStatus}}</td>
                        </tr>
                        <tr>
                            <td>Nomor Telepon</td>
                            <td>{{this.phoneNumber}}</td>
                            <td>Nomor HP</td>
                            <td>{{this.mobileNumber}}</td>
                        </tr>
                        </tbody>
                    </table>
                </v-card>

                <h3 style="font-weight: bold; margin-top: 30px"><strong>Ai Check</strong></h3>

                <v-layout row>
                    <v-flex sm6>
                        <v-card style="height: 100%">
                            <table class="table table-bordered" style="height: 100%">
                                <tr class="tableTitle" align="center">
                                    <td colspan="2">Basic (Government)</td>
                                </tr>
                                <tr align="center">
                                    <td style="width: 50%"><strong>Presence</strong></td>
                                    <td style="width: 50%"><strong>Activity</strong></td>
                                </tr>
                                <tr align="center">
                                    <td>
                                        <ChartScore :score="aiCheck_score_basic" :letter="aiCheck_letter_basic"/>
                                        <table style="width: 70%; margin-top: 40px">
                                            <tr>
                                                <td style="width: 50%">Riwayat Kredit</td>
                                                <td>Ada</td>
                                            </tr>
                                            <tr>
                                                <td>BPJS</td>
                                                <td>Ada</td>
                                            </tr>
                                            <tr>
                                                <td>DJP</td>
                                                <td>Tidak</td>
                                            </tr>
                                            <tr>
                                                <td>Taspen</td>
                                                <td>Tidak</td>
                                            </tr>
                                            <tr>
                                                <td>APPI</td>
                                                <td>Ada</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiCheck_score_advanced" :letter="aiCheck_letter_advanced"/>
                                        <ChartScoreDetail
                                                v-for="(item, i) in aicheckDetailBasicScore"
                                                :key="i"
                                                :title="item.title"
                                                :value="item.value"
                                                :letter="item.score"
                                                :disabled="item.value <= 0"
                                        />
                                    </td>
                                </tr>
                            </table>
                        </v-card>
                    </v-flex>
                    <v-flex sm6>
                        <v-card style="height: 100%;">
                            <table class="table table-bordered">
                                <tr class="tableTitle" align="center">
                                    <td colspan="2">Advanced (Social Media)</td>
                                </tr>
                                <tr align="center">
                                    <td style="width: 50%"><strong>Presence</strong></td>
                                    <td style="width: 50%"><strong>Activity</strong></td>
                                </tr>
                                <tr align="center">
                                    <td>
                                        <ChartScore :score="aiCheck_score_basic" :letter="aiCheck_letter_basic"/>
                                        <table style="width: 70%; margin-top: 40px">
                                            <tbody>
                                                <tr>
                                                    <td>Facebook</td>
                                                    <td>Ada</td>
                                                </tr>
                                                <tr>
                                                    <td>Twitter</td>
                                                    <td>Tidak ada</td>
                                                </tr>
                                                <tr>
                                                    <td>LinkedIn</td>
                                                    <td>Ada</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiCheck_score_advanced" :letter="aiCheck_letter_advanced"/>
                                        <ChartScoreDetail
                                                v-for="(item, i) in aicheckDetailAdvancedScore"
                                                :key="i"
                                                :title="item.title"
                                                :value="item.value"
                                                :letter="item.score"
                                                :disabled="item.value <= 0"
                                        />
                                    </td>
                                </tr>
                            </table>
                        </v-card>
                    </v-flex>
                </v-layout>

                <h3 style="font-weight: bold; margin-top: 30px"><strong>Ai Score</strong></h3>
                <v-layout row>
                    <v-flex sm6>
                        <v-card style="height: 100%;">
                            <table class="table table-bordered">
                                <tr align="center">
                                    <td colspan="2" class="tableTitle">Basic</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <span>&lsaquo; 1 year</span>
                                    </td>
                                    <td align="center">
                                        <span>&lsaquo; 2 years</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ChartScore :score="aiscorelist[0].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiscorelist[1].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                </tr>
                            </table>
                        </v-card>
                    </v-flex>
                    <v-flex sm6>
                        <v-card style="height: 100%;">
                            <table class="table table-bordered">
                                <tr align="center">
                                    <td colspan="8" class="tableTitle">Advanced</td>
                                </tr>
                                <tr align="center">
                                    <td colspan="2">Motor</td>
                                    <td colspan="2">Mobil</td>
                                    <td colspan="2">KTA</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <span>&lsaquo; 1 year</span>
                                    </td>
                                    <td align="center">
                                        <span>&lsaquo; 2 year</span>
                                    </td>
                                    <td align="center">
                                        <span>&lsaquo; 1 year</span>
                                    </td>
                                    <td align="center">
                                        <span>&lsaquo; 2 year</span>
                                    </td>
                                    <td align="center">
                                        <span>&lsaquo; 1 year</span>
                                    </td>
                                    <td align="center">
                                        <span>&lsaquo; 2 year</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ChartScore :score="aiscorelist[0].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiscorelist[1].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiscorelist[0].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiscorelist[1].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiscorelist[0].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                    <td>
                                        <ChartScore :score="aiscorelist[1].value" :letter="aiscorelist[0].score"/>
                                    </td>
                                </tr>
                            </table>
                        </v-card>
                    </v-flex>
                </v-layout>

                <h3 style="font-weight: bold; margin-top: 30px"><strong>Ai Credit</strong></h3>
                <v-card class="pa-3">
                    <v-card-title>
                    </v-card-title>
                    <template class="">
                        <table class="tabel" style="width:100%">
                            <tr class="tc">
                                <th class="tb">Recommended Interest Rate</th>
                                <th class="tb">Probability of Return</th>
                            </tr>
                            <tr>
                                <td class="tt">9.2%</td>
                                <td class="tt">53.3%</td>

                            </tr>
                            <tr>
                                <td class="tt">5.1%</td>
                                <td class="tt">60.0%</td>

                            </tr>
                            <tr>
                                <td class="tt dark">5.3%</td>
                                <td class="tt dark">60.5%</td>

                            </tr>
                            <tr>
                                <td class="tt">8.4%</td>
                                <td class="tt">54.2%</td>

                            </tr>
                            <tr>
                                <td class="tt">5.1%</td>
                                <td class="tt">60.0%</td>

                            </tr>
                        </table>
                    </template>
                </v-card>


                <!-- AICARE -->
                <br><br><br>
                <p class="judul">AiCare</p>
                <v-card class="pa-3">
                    <p class="subjudul">Predicted default (Month)</p>
                    <v-progress-linear
                            color="primary"
                            height="20"
                            value="40"
                    ></v-progress-linear>
                    <p class="left" align="left">0
                    <p class="center">6</p>
                    <p class="center2">12</p>
                    <br><br/>
                    <p class="subjudul">Recommended Treatment</p>
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="tableTitle">
                                <td align="center" style="background-color: #b3ffb9;">Best Case</td>
                                <td align="center">Medium Case</td>
                                <td align="center">Worst Case</td>
                            </tr>
                            <tr>
                                <td align="center" style="background-color: #b3ffb9">
                                    <img class="logoInTableAiCare" src="http://www.logospng.com/images/79/call-info-commerce-center-logistics-delivery-79296.png"/>
                                    <p style="padding-top: 20px; font-weight: bold; font-size: 18px">Phone Call</p>
                                    <p style="font-weight: bold; font-size: 16px">82%</p>
                                </td>
                                <td align="center">
                                    <img class="logoInTableAiCare" src="https://image.flaticon.com/icons/svg/134/134937.svg"/>
                                    <p style="padding-top: 20px; font-weight: bold; font-size: 18px">WhatsApp</p>
                                    <p style="font-weight: bold; font-size: 16px">65%</p>
                                </td>
                                <td align="center">
                                    <img class="logoInTableAiCare" src="https://static1.squarespace.com/static/51799766e4b0d87d082a5e25/t/51950bc0e4b0fe8d015ee737/1368722377155/Debt+Collection-01.png"/>
                                    <p style="padding-top: 20px; font-weight: bold; font-size: 18px">Debt Collector</p>
                                    <p style="font-weight: bold; font-size: 16px">47%</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import ChartScore from "../../components/chart/ChartScore";
    import ChartScoreDetail from "../../components/chart/ChartScoreDetail";
    export default {
        name: "check",
        components: {ChartScoreDetail, ChartScore},
        layout: 'customer',
        data: () => ({
            activeTabs: null,
            advancedAiScoreOpt: ['Motorcycle', 'Car', 'Home'],
            valueDeterminate: 40,
            search: '',
            headers: [{
                text: 'Recommended Interest Rate',
                align: 'left',
                sortable: false,
                value: 'name'
            }, { text: 'Probability of Return', align: 'right', value: 'ratecredit'
            }],
            desserts: [
                {
                    name: '9.2%',
                    ratecredit: '53.3%',
                    icon: '',
                },
                {
                    name: '8.4%',
                    ratecredit: '54.2% ',

                },
                {
                    name: '7.7%',
                    ratecredit: '55.5%',

                },
                {
                    name: '6.1%',
                    ratecredit: '56.5%',

                },
                {
                    name: '6.1%',
                    ratecredit: '56.5%',

                },
                {
                    name: '5.3%',
                    ratecredit: '60.5%',

                },
                {
                    name: '5.3%',
                    ratecredit: '60.5%',

                },
                {
                    name: '7.7%',
                    ratecredit: '55.5%',

                },
                {
                    name: '8.4%',
                    ratecredit: '54.2%',

                },
                {
                    name: '5.3%',
                    ratecredit: '60.5%',

                }
            ],
            head: [
                {
                    text: 'Name',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
                {text: 'base case', align:'center', value: 'bestcase'},
                {text: 'present case', align:'right', value: 'present'}
            ],
            kasus: [

                {
                    case: 'Best Case',
                    align: 'center',
                    basecase: 'Telephone',
                    present: '82%'
                },
                {
                    case: 'Medium Case',
                    align: 'center',
                    basecase: 'WhatsApp',
                    present: '65%'
                },
                {
                    case: 'Worst Case',
                    align: 'center',
                    basecase: 'Debt collector',
                    present: '47%'
                }
            ],


            nik: '1441180121',
            nikRules:[
                v => !!v || 'Form must be filled',
                v => (v && v.length <= 16) || 'NIK harus berisi 16 karakter'
            ],

            name:'',
            nameRules:[
                v => !!v || 'Form must be filled',
                v => (v && v.length <= 30) || 'Nama harus di isi'
            ],

            birthDateMenu: false,
            birthDate: null,
            birthDateRules: [
                v => !!v || 'Form must be filled',
            ],

            gender: '',
            phoneNumber: '',
            mobileNumber: '',
            dialog: false,
            tampilData: false,

            //AiCheck Basic
            aiCheck_score_basic: '',
            aiCheck_letter_basic: '',

            //AiCheck Advanced
            aiCheck_score_advanced: '',
            aiCheck_letter_advanced: '',

            //AiScore < 1 year
            aiScore_score_1year: '',
            aiScore_letter_1year: '',

            //AiScore < 2 year
            aiScore_score_2year: '',
            aiScore_letter_2year: '',

            individualList: [],
            aicheckList: [],
            aiscorelist: [],

            aicheckDetailBasicScore: [],
            aicheckDetailAdvancedScore: []
        }),
        methods: {
            async coba_simpan () {
                var i;
                let res = await this.$api.customer.cobaGet();
                for(i = 0; i < res.data.length; i++)
                {
                    if(res.data[i].nik === this.nik)
                    {
                        var nikBaru = res.data[i].nik;
                        var idBaru  = res.data[i].id;
                    }
                }

                if(nikBaru !== this.nik)
                {
                    this.dialog = true;
                }
                else
                {
                    let response = await this.$api.customer.getById(idBaru);
                    this.individualList = response.data;

                    /*** AiCheck ***/
                    let responseAiCheck = await this.$api.customer.aicheck.getScore(response.data.id);
                    this.aicheckList = responseAiCheck.data;
                    this.aicheckDetailBasicScore = responseAiCheck.data.basic.detail;
                    this.aicheckDetailAdvancedScore = responseAiCheck.data.advanced.detail;

                    //Fetch data AiScore Basic
                    this.aiCheck_score_basic = responseAiCheck.data.basic.value;
                    this.aiCheck_letter_basic = responseAiCheck.data.basic.score;

                    //Fetch data AiScore Advanced
                    this.aiCheck_score_advanced = responseAiCheck.data.advanced.value;
                    this.aiCheck_letter_advanced = responseAiCheck.data.advanced.score;

                    /*** End of AiCheck ***/

                    /*** AiScore ***/
                    let responseAiScore = await this.$api.customer.aiscore.getScore(response.data.id);
                    this.aiscorelist = responseAiScore.data;

                    // this.aiScore_score_1year = ;
                    // console.log(this.aiScore_score_1year);

                    //1 year


                    /*** End of AiScore ***/

                    //Check genderID
                    if(response.data.genderId === 0)
                    {
                        this.gender = 'Perempuan';
                    }
                    else
                    {
                        this.gender = 'Laki-Laki';
                    }

                    //check Mobile Number
                    if(response.data.mobileNumber === null)
                    {
                        this.mobileNumber = '-';
                    }
                    else
                    {
                        this.phoneNumber = response.data.mobileNumber;
                    }

                    //check Phone Number
                    if(response.data.phoneNumber === null)
                    {
                        this.phoneNumber = '-';
                    }
                    else
                    {
                        this.phoneNumber = response.data.phoneNumber;
                    }

                    this.tampilData = true;
                }
            }
        }
    }
</script>

<style lang="css" scoped>
    p.judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }
    p.subjudul {
        font-size: 16px;
        color: #2F2D3B;
        font-weight: bold;
    }

    table.quickCheck td:nth-child(1) {
        font-weight: bold;
    }
    table.quickCheck td:nth-child(3) {
        font-weight: bold;
    }

    .center{
        position: absolute;
        left: 50%;
        top: 80px;
    }
    .center2{
        position: absolute;
        right:1%;
        top: 80px;
    }

    .logoInTableAiCare {
        height: 60px;
    }

    .tableTitle{
        font-size: 24px; font-weight: bold;
    }

    .borderless td, .borderless th {
        border: none;
    }

    .tabel {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .tt, .tb {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .tc:nth-child(even) {
        background-color: #dddddd;
    }
    .dark{
        background-color: rgb(179, 255, 185);
    }

    .left{
        position: absolute;
        top: 80px;
    }
</style>
