<template>
    <v-container grid-list-xl fluid>
        <v-layout row>
            <v-flex sm12>
                <v-tabs
                        v-model="active"
                        slider-color="black"
                >
                    <v-tab :key="1" ripple>Individual</v-tab>
                    <v-tab :key="2" ripple>Company</v-tab>

                    <v-tab-item :key="1">
                        <v-card flat>
                            <v-layout row>
                                <v-flex sm10>
                                    <v-text-field v-model="nik" label="NIK" outline>

                                    </v-text-field>
                                </v-flex>
                                <v-flex sm1>
                                    <v-btn color="success" large v-on:click.native="check_nik">CHECK</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item :key="2">
                        <v-card flat>
                            Ini Company
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-flex>


            <!-- Dialog --->
            <v-dialog v-model="dialog" max-width="300">
                <v-card>
                    <v-card-title class="headline">Notification 1</v-card-title>

                    <v-card-text>
                        Data ini ada di dalam DB kami
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                                color="green darken-1"
                                flat="flat"
                                @click="dialog = false"
                        >
                            Disagree
                        </v-btn>

                        <v-btn
                                color="green darken-1"
                                flat="flat"
                                @click="dialog = false"
                        >
                            Agree
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialog2" max-width="300">
                <v-card>
                    <v-card-title class="headline">Notification 2</v-card-title>

                    <v-card-text>
                        Data ini tidak ada di dalam DB kami
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                                color="green darken-1"
                                flat="flat"
                                @click="dialog2 = false"
                        >
                            Disagree
                        </v-btn>

                        <nuxt-link to="/customers/create">
                            <v-btn
                                    color="green darken-1"
                                    flat="flat"
                            >
                                Agree
                            </v-btn>
                        </nuxt-link>

                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
        <v-layout row v-if="cobaTampil1 === true">
            <!--<v-flex sm3>-->
                <!--<div class="card">-->
                    <!--<ul class="list-group list-group-flush">-->
                        <!--<li class="list-group-item">Quick Check</li>-->
                        <!--<li class="list-group-item" v-on:click.native="tabPefindoReport">AiCheck</li>-->
                        <!--<li class="list-group-item">AiScore</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</v-flex>-->
            <v-flex sm12>
                <h3 style="font-weight: bold; margin-top: 30px"><strong>Quick Check</strong></h3>
                <v-card>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td style="width: 10%">KTP</td>
                            <td style="width: 40%">3519060412940001</td>
                            <td style="width: 10%">Pefindo ID</td>
                            <td>2152216</td>
                        </tr>
                        <tr>
                            <td>Nama</td>
                            <td>Dwi Dista Priyo Utomo</td>
                            <td>Alamat</td>
                            <td>
                                Babadan RT 010 RW 004 Kelurahan tawangrejo, Kecamatan Gumarang, Kabupaten Madiun. Provinsi Jawa Timur
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </v-card>

                <h3 style="font-weight: bold; margin-top: 30px"><strong>Ai Check</strong></h3>
                <v-layout row>
                    <v-flex xs6>
                        <v-card class="pa-3">
                            <h3 class="text-center">Basic</h3>
                            <ChartScore
                                    :score="59"
                                    :letter="'bd'"
                            />
                            <v-flex xs5 class="text-center" style="margin-left: 240px">
                                <ChartScoreDetail
                                        title="Riwayat Kredit"
                                        :value="37"
                                        letter="D"/>
                                <ChartScoreDetail
                                        title="BPJS"
                                        :value="17"
                                        letter="E"/>
                                <ChartScoreDetail
                                        title="DJP"
                                        :value="58"
                                        letter="C"/>
                                <ChartScoreDetail
                                        title="Taspen"
                                        :value="80"
                                        letter="A"/>
                                <ChartScoreDetail
                                        title="APPI"
                                        :value="0"
                                        letter="E"/>
                            </v-flex>
                            <img src="https://i.ibb.co/cxHwXRr/image.png" width="400" height="250" style="margin-left: 200px">
                        </v-card>
                    </v-flex>
                    <v-flex xs6>
                        <v-card class="pa-3">
                            <h3 class="text-center">Advanced</h3>
                            <ChartScore
                                    :score="76"
                                    :letter="'ac'"
                            />
                            <v-flex xs5 class="text-center" style="margin-left: 240px">
                                <ChartScoreDetail
                                        title="Facebook"
                                        :value="61"
                                        letter="B"/>
                                <ChartScoreDetail
                                        title="LinkedIn"
                                        :value="89"
                                        letter="A"/>
                                <ChartScoreDetail
                                        title="Twitter"
                                        :value="6"
                                        letter="E"/>
                            </v-flex>
                            <img src="https://i.ibb.co/cxHwXRr/image.png" width="400" height="250" style="margin-left: 200px">
                        </v-card>
                    </v-flex>
                </v-layout>

                <h3 style="font-weight: bold; margin-top: 30px"><strong>Ai Scoring</strong></h3>
                <v-layout row>
                    <v-flex xs12>
                        <v-card class="pa-3">
                            <table class="table table-bordered" style="border: none">
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <center>
                                                <h3>< 1 year</h3>
                                            </center>
                                        </td>
                                        <td align="center">
                                            <center>
                                                <h3>< 2 year</h3>
                                            </center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <ChartScore
                                                    :score="14"
                                                    :letter="'E'"
                                            />
                                        </td>
                                        <td align="center">
                                            <ChartScore
                                                    :score="36"
                                                    :letter="'D'"
                                            />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <img src="https://i.ibb.co/cxHwXRr/image.png" width="600" height="350"/>
                                        </td>
                                        <td align="center">
                                            <img src="https://i.ibb.co/cxHwXRr/image.png" width="600" height="350"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';
    import CustomerScore from "../../components/customer/CustomerScore";
    import ChartScore from "../../components/chart/ChartScore";
    import ChartScoreDetail from "../../components/chart/ChartScoreDetail";
    import ChartLine from "../../components/chart/ChartLine";

    export default {
        name: "coba_tampildata",
        components: {ChartLine, ChartScoreDetail, ChartScore, CustomerScore},
        layout: 'customer',
        data () {
            return {
                labels: ['Q2', 'Q3', 'Q4', 'Q1'],
                active: null,
                nik: '3519060412940001',
                dialog: false,
                dialog2: false,
                cobaTampil1: false,
                tabQuickCheck: true,
                tabPefindoReport: false
            }
        },
        methods: {
            async check_nik() {
                // console.log('NIK input: '+this.nik);
                axios.get('http://localhost:9000/fineoz_api/api/ai_score/dummy_nik/read_single.php?nik='+this.nik).then((response) => {
                    console.log(JSON.stringify(response.data));
                    var json = JSON.stringify(response.data);
                    var obj = JSON.parse(json);
                    var nik = obj.nik;

                    if(nik == null)
                    {
                        this.dialog2 = true;
                    }
                    else
                    {
                        // this.dialog = true;
                        this.cobaTampil1 = true;
                    }

                })

                // this.$store.dispatch('snackbar');
            }
        }
    }
</script>

<style lang="css" scoped>
    li:hover{
        background-color: #d9d9d9;
    }
</style>
