<template>
    <v-container grid-list-xl fluid>
        <p class="judul">AiCheck Form</p>
        <v-layout row>
            <v-flex lg6>
                <v-text-field outline label="NIK" :counter="16" name="nik" v-model="nik" :rules="nikRules" required v-validate="'required'"></v-text-field>
                <v-select outline label="Jenis Kelamin" name="gender" item-text="jk" item-value="value" :items="genderOpt" v-model="genderId" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                <v-text-field outline label="Kota Asal" name="district" v-model="district" :rules="districtRules" required v-validate="'required'"></v-text-field>
                <v-text-field outline label="Bidang Pekerjaan" name="fieldJob" v-model="fieldJob" :rules="fieldJobRules" required v-validate="'required'"></v-text-field>
                <v-select outline label="Status Penikahan" name="marital-status" :items="maritalStatusOpt" v-model="maritalStatus" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
            </v-flex>
            <v-flex lg6>
                <v-text-field outline label="Nama Lengkap" name="name" v-model="name" :rules="nameRules" required v-validate="'required'"></v-text-field>
                <v-text-field outline label="Education" name="edu" v-model="education" :rules="educationRules" required v-validate="'required'"></v-text-field>
                <v-text-field outline label="Pekerjaan" name="occupation" v-model="job" :rules="jobRules" required v-validate="'required'"></v-text-field>
                <v-menu
                        ref="menu"
                        v-model="birthDateMenu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                                outline
                                v-model="birthDate"
                                label="Tanggal Lahir"
                                readonly
                                v-on="on"
                        ></v-text-field>
                    </template>
                    <v-date-picker
                            ref="picker"
                            v-model="birthDate"
                            :max="new Date().toISOString().substr(0, 10)"
                            min="1950-01-01"
                    ></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex lg12>
                <p class="judul">AiScore Form</p>
                <div class="subEntry">
                    <v-text-field outline label="Loan Term (Bulan)" name="long_term" v-model="long_term" :rules="long_termRules" required v-validate="'required'"></v-text-field>
                    <v-select outline label="APPI Status" name="appi_status" :items="appi_statusOpt" v-model="appi_status" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="TASPEN" name="taspen_pensiun_type" :items="taspenOpt" v-model="taspen_pensiun_type" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="Sifat Kredit" name="sifat_kredit" :items="sifatkreditOpt" v-model="pembiayaan_nama_sifat_kredit" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="Sifat Penggunaan Kredit" name="pembiayaan_nama_pengguna_kredit" :items="sifatpenggunaankreditOpt" v-model="pembiayaan_nama_pengguna_kredit" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="Kota" name="kota" :items="kotaOpt" v-model="kotaKredit" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-text-field outline label="Limit" name="limit" v-model="pembiayaan_ori_credit_limit" :rules="limitRules" required v-validate="'required'"></v-text-field>

                </div>
                <div class="subEntry pl-3">
                    <v-select outline label="Penjamin" name="penjamin" item-text="penjamin" item-value="value" :items="penjaminOpt" v-model="penjamin" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="BPJSTK" name="bpjstk" :items="bpjstkOpt" v-model="bpjstk" item-text="bpjstk" item-value="value" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="DJP" name="djp" :items="djpOpt" v-model="djp_description" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="Kategori Debitur" name="kategori_debitur" :items="kategoridebiturOpt" v-model="pembiayaan_nama_kategori_debitur" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="Sektor Ekonomi" name="sektor_ekonomi" :items="sektorekonomiOpt" v-model="pembiayaan_economic_sector_sk" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-select outline label="Jenis Suku Bunga" name="jenis_suku_bunga" :items="jenissukubungaOpt" v-model="pembiayaan_jenis_suku_bunga" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                    <v-text-field outline label="Besar Pinjaman" name="besar_pinjaman" v-model="pembiayaan_project_amount_edit" :rules="besar_pinjamanRules" required v-validate="'required'"></v-text-field>
                </div>
            </v-flex>
        </v-layout>
        <v-btn color="success" v-on:click.native="insertIndividual">SUBMIT</v-btn>
        <v-btn color="error">RESET</v-btn>
    </v-container>
</template>

<script>
    export default {
        layout: 'customer',
        data: () => ({
            loading: false,
            // penjaminOpt: ['Ada', 'Tidak'],
            penjaminOpt: [
                {
                    penjamin: 'Ada',
                    value: 1
                },
                {
                    penjamin: 'Tidak Ada',
                    value: 0
                }
            ],
            appi_statusOpt: [0, 1, 'nan'],
            // bpjstkOpt: ['Ya', 'Tidak'],
            bpjstkOpt: [
                {
                    bpjstk: 'Ada',
                    value: 1
                },
                {
                    bpjstk: 'Tidak Ada',
                    value: 0
                }
            ],
            taspenOpt: ['nan','Pensiun Sendiri PNS Pusat', 'Pensiun Janda/Duda PNS Pusat'],
            djpOpt: ['nan'],
            sifatkreditOpt: ['Kredit atau Pembiayaan yang Direstrukturisasi', 'Pengambilalihan Kredit atau Pembiayaan', 'Kredit atau Pembiayaan Subordinasi', 'Lainnya'],
            kategoridebiturOpt: ['Bukan Debitur Usaha Mikro, Kecil, dan Menengah'],
            sifatpenggunaankreditOpt: ['Modal Kerja', 'Investasi', 'Konsumsi'],
            sektorekonomiOpt: ['9000', '930000', '369000', '804000', '921000', '403000', '14000', '50190', '551100'],
            kotaOpt: ['Kab. Flores Timur', 'Kab. Timor-Tengah Utara', 'Kab. Lembata'],
            jenissukubungaOpt: ['Fixed', 'Floating', 'Margin', 'Bagi Hasil', 'Ujroh', 'Lainnya'],

            long_term: '',
            penjamin: '',
            appi_status: '',
            bpjstk: '',
            taspen_pensiun_type: '',
            djp_description: '',
            pembiayaan_nama_sifat_kredit: '',
            pembiayaan_nama_kategori_debitur: '',
            pembiayaan_nama_pengguna_kredit: '',
            pembiayaan_economic_sector_sk: '',
            pembiayaan_jenis_suku_bunga: '',
            pembiayaan_ori_credit_limit: '',
            pembiayaan_project_amount_edit: '',

            kotaKredit: '',

            genderId: '',
            genderOpt: [
                {
                    jk: 'Laki-Laki',
                    value: '1'
                },
                {
                    jk: 'Perempuan',
                    value: '0'
                }
            ],

            birthDateMenu: false,

            birthDate: null,
            birthDateRules: [
                v => !!v || 'Form must be filled',
            ],

            birthPlace: '',
            birthPlaceRules: [
                v => !!v || 'Form must be filled',
            ],

            maritalStatus: '',
            maritalStatusOpt: ['Single', 'Married'],

            nik: '',
            nikRules:[
                v => !!v || 'Form must be filled',
                v => (v && v.length <= 16) || 'NIK harus berisi 16 karakter'
            ],

            name:'',
            nameRules:[
                v => !!v || 'Form must be filled',
                v => (v && v.length <= 30) || 'Nama harus di isi'
            ],

            email:'',
            emailRules:[
                v => !!v || 'Form must be filled'
            ],

            phoneNumber: '',

            education: '',
            educationRules: [
                v => !!v || 'Form must be filled'
            ],

            address: '',
            addressRules: [
                v => !!v || 'Form must be filled'
            ],

            postalCode: '',
            postalCodeRules: [
                v => !!v || 'Form must be filled'
            ],

            district: '',
            districtRules: [
                v => !!v || 'Form must be filled'
            ],

            subDistrict: '',
            subDistrictRules: [
                v => !!v || 'Form must be filled'
            ],

            job: '',
            jobRules: [
                v => !!v || 'Form must be filled'
            ],

            fieldJob: '',
            fieldJobRules: [
                v => !!v || 'Form must be filled'
            ],

            long_termRules: [
                v => !!v || 'Form must be filled'
            ],

            limitRules: [
                v => !!v || 'Form must be filled'
            ],

            besar_pinjamanRules: [
                v => !!v || 'Form must be filled'
            ],

            riwayat_kredit: '122',
            bpjs: 'Ya',
            djp: 'nan',
        }),
        methods: {
            validate(){
                if(this.$refs.form.validate()){
                    console.log('Udahan woy, lelah hayati!');
                }
            },
            reset(){
                this.$refs.form.reset()
            },
            save (date) {
                this.$refs.menu.save(date)
            },

            async insertIndividual() {
                let obj = {
                    "nik"           : this.nik,
                    "name"          : this.name,
                    "address"       : this.district,
                    "district"      : this.district,
                    "picture"       : null,
                    "job"           : this.job,
                    "education"     : this.education,
                    "subDistrict"   : null,
                    "phoneNumber"   : null,
                    "mobileNumber"  : null,
                    "postalCode"    : null,
                    "emailAddress"  : null,
                    "maritalStatus" : this.maritalStatus,
                    "fieldJob"      : this.fieldJob,
                    "genderId"      : this.genderId,
                    "birthPlace"    : "JAKARTA",
                    "birthDate"     : this.birthDate
                };

                // let obj2 = {
                //     "long_term": this.long_term,
                //     "penjamin": this.penjamin,
                //     "appi_status": this.appi_status,
                //     "bpjstk": this.bpjstk,
                //     "taspen_pensiun_type": this.taspen_pensiun_type,
                //     "djp_description": this.djp_description,
                //     "pembiayaan_nama_sifat_kredit": this.pembiayaan_nama_sifat_kredit,
                //     "pembiayaan_nama_kategori_debitur": this.pembiayaan_nama_kategori_debitur,
                //     "pembiayaan_nama_pengguna_kredit": this.pembiayaan_nama_pengguna_kredit,
                //     "pembiayaan_economic_sector_sk": this.pembiayaan_economic_sector_sk,
                //     "pembiayaan_jenis_suku_bunga": this.pembiayaan_jenis_suku_bunga,
                //     "pembiayaan_ori_credit_limit": this.pembiayaan_ori_credit_limit,
                //     "pembiayaan_project_amount_edit": this.pembiayaan_project_amount_edit
                // };
                let obj2 = {
                    "long_term": parseInt(this.long_term),
                    "penjamin": this.penjamin,
                    "appi_status": this.appi_status,
                    "bpjstk": this.bpjstk,
                    "taspen_pensiun_type": 0,
                    "djp_description": 0,
                    "pembiayaan_nama_sifat_kredit": 0,
                    "pembiayaan_nama_kategori_debitur": 0,
                    "pembiayaan_nama_pengguna_kredit": 2,
                    "pembiayaan_economic_sector_sk": 3,
                    "pembiayaan_jenis_suku_bunga": 0,
                    "pembiayaan_ori_credit_limit": parseInt(this.pembiayaan_ori_credit_limit),
                    "pembiayaan_project_amount_edit": parseInt(this.pembiayaan_project_amount_edit)
                };

                let obj3 =  {
                    "riwayat_kredit": "122",
                    "bpjs": "Ya",
                    "djp": "nan",
                    "taspen": "Pensiun Sendiri PNS Pusat",
                    "appi": null,
                    "facebook": null,
                    "twitter": null,
                    "linkedin": null
                };

                // console.log('__OBJECT1', obj);
                // console.log('__OBJECT2', obj2);
                // console.log('__OBJECT3', obj3);

                let objResponse = await this.$api.customer.create(obj);
                if(objResponse)
                {
                    console.log('__CREATEDOBJ1', objResponse);
                    let id = objResponse.data.id;
                    console.log(id);
                    let objResponse2    = await this.$api.customer.cobaPostAiScore(id, obj2);
                    // let objResponse2    = await this.$api.customer.aiscore.cobaPostAiCheck(id, obj2);
                    console.log('__CREATEDOBJ2', objResponse2);
                    // let objResponse3    = await this.$api.customer.aicheck.post({id, obj3});
                    let objResponse3    = await this.$api.customer.cobaPostAiCheck(id, obj3);
                    console.log('__CREATEDOBJ3', objResponse3);
                    console.log('__OBJ3', obj3);

                    this.$router.push('/customers/'+id+'/tampildata');
                }
            },

            async submit () {
                // this.loading = true;
                // this.$router.push('/customers/7');
                // if (!this.$refs.form.validate()) {
                //     return
                // }
                //
                // let data = {
                //     "nik": this.nik,
                //     "name": this.name,
                //     "phoneNumber": this.phoneNumber,
                //     "gender": this.gender,
                //     "address": this.address,
                //     "district": this.district,
                //     "picture": "db",
                //     "job": this.job,
                //     "education": this.edu,
                //     "birthPlace": this.birthPlace,
                //     "birthDate": this.birthDate,
                //     "subDistrict": this.subDistrict,
                //     "mobileNumber": this.mobileNumber,
                //     "postalCode": this.postalCode,
                //     "emailAddress": this.email,
                //     "maritalStatus": this.maritalStatus,
                //     "fieldJob": this.fieldJob
                // }
                //
                // let res = await this.$api.customer.create(data)
                // if (res) {
                //     console.log('___CREATED', res)
                //     let id = res.data.id
                //     this.$router.push(`/customers/${id}/edit-support-data`)
                // }

                // this.loading = false;
            }
        }
    }
</script>
<style lang="css" scoped>
    p.judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }
    p.subjudul {
        font-size: 16px;
        color: #2F2D3B;
        font-weight: bold;
    }

    .subEntry {
        width: 50%;
        float: left;
    }
</style>
