<template>
    <v-container grid-list-xl fluid>

    </v-container>
</template>

<script>
    export default {
        name: "form_aiscore",
        layout: "customer"
    }
</script>

<style scoped>

</style>
