<template>
    <v-container grid-list-xl fluid>
        <p class="judul">AiCheck Form</p>
        <v-layout row>
            <v-flex lg6>
                <v-text-field outline label="NIK" :counter="16" name="nik" v-model="nik" :rules="nikRules" required v-validate="'required'"></v-text-field>
                <v-select outline label="Jenis Kelamin" name="gender" item-text="jk" item-value="value" :items="genderOpt" v-model="genderId" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
                <v-text-field outline label="Kota Asal" name="district" v-model="district" :rules="districtRules" required v-validate="'required'"></v-text-field>
                <v-text-field outline label="Bidang Pekerjaan" name="fieldJob" v-model="fieldJob" :rules="fieldJobRules" required v-validate="'required'"></v-text-field>
                <v-select outline label="Status Penikahan" name="marital-status" :items="maritalStatusOpt" v-model="maritalStatus" :rules="[v => !!v || 'Item is required']" required v-validate="'required'"></v-select>
            </v-flex>
            <v-flex lg6>
                <v-text-field outline label="Nama Lengkap" name="name" v-model="name" :rules="nameRules" required v-validate="'required'"></v-text-field>
                <v-text-field outline label="Education" name="edu" v-model="education" :rules="educationRules" required v-validate="'required'"></v-text-field>
                <v-text-field outline label="Pekerjaan" name="occupation" v-model="job" :rules="jobRules" required v-validate="'required'"></v-text-field>
                <v-menu
                    ref="menu"
                    v-model="birthDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                >
                <template v-slot:activator="{ on }">
                <v-text-field
                    outline
                    v-model="birthDate"
                    label="Tanggal Lahir"
                    readonly
                    v-on="on"
                ></v-text-field>
                </template>
                <v-date-picker
                    ref="picker"
                    v-model="birthDate"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1950-01-01"
                ></v-date-picker>
                </v-menu>
            </v-flex>
        </v-layout>
        <v-btn color="success" v-on:click.native="insertIndividual">SUBMIT</v-btn>
        <v-btn color="error">RESET</v-btn>
    </v-container>
</template>

<script>
    import qs from 'query-string';

    export default {
        name: "form_aicheck",
        layout: 'customer',
        data: () => ({
            nik: '',
            genderId: '',
            district: '',
            fieldJob: '',
            maritalStatus: '',
            birthDate: '',
            name: '',
            job: '',
            education: '',

            birthDateMenu: false,

            //rule and options
            gender: '',
            genderOpt: [
                {
                    jk: 'Laki-Laki',
                    value: 1
                },
                {
                    jk: 'Perempuan',
                    value: 0
                }
            ],

            birthDateRules: [
                v => !!v || 'Form must be filled',
            ],

            birthPlace: '',
            birthPlaceRules: [
                v => !!v || 'Form must be filled',
            ],

            maritalStatusOpt: ['Single', 'Married'],

            nikRules:[
                v => !!v || 'Form must be filled',
                v => (v && v.length <= 16) || 'NIK harus berisi 16 karakter'
            ],

            nameRules:[
                v => !!v || 'Form must be filled',
                v => (v && v.length <= 30) || 'Nama harus di isi'
            ],

            email:'',
            emailRules:[
                v => !!v || 'Form must be filled'
            ],

            phoneNumber: '',

            educationRules: [
                v => !!v || 'Form must be filled'
            ],

            address: '',
            addressRules: [
                v => !!v || 'Form must be filled'
            ],

            postalCode: '',
            postalCodeRules: [
                v => !!v || 'Form must be filled'
            ],

            districtRules: [
                v => !!v || 'Form must be filled'
            ],

            subDistrict: '',
            subDistrictRules: [
                v => !!v || 'Form must be filled'
            ],

            jobRules: [
                v => !!v || 'Form must be filled'
            ],

            fieldJobRules: [
                v => !!v || 'Form must be filled'
            ]
        }),
        methods: {
            async insertIndividual() {
                var obj = {
                    "nik"           : this.nik,
                    "name"          : this.name,
                    "address"       : this.district,
                    "district"      : this.district,
                    "picture"       : null,
                    "job"           : this.job,
                    "education"     : this.education,
                    "subDistrict"   : null,
                    "phoneNumber"   : null,
                    "mobileNumber"  : null,
                    "postalCode"    : null,
                    "emailAddress"  : null,
                    "maritalStatus" : this.maritalStatus,
                    "fieldJob"      : this.fieldJob,
                    "genderId"      : this.genderId,
                    "birthPlace"    : "JAKARTA",
                    "birthDate"     : this.birthDate
                };

                let objResponse = await this.$api.customer.create(obj);
                if(objResponse)
                {
                    console.log('__CREATED', objResponse);
                    let id = objResponse.data.id;
                }
            }
        }
    }
</script>

<style lang="css" scoped>
    p.judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }
    p.subjudul {
        font-size: 16px;
        color: #2F2D3B;
        font-weight: bold;
    }

    .subEntry {
        width: 50%;
        float: left;
    }
</style>
