<template>
    <div id="pageCustomerIndex">
        <v-container grid-list-xl fluid>
            <v-layout row>
                <v-flex xs12>
                    <p class="judul">Customers</p>
                    <p class="subjudul">Customer Overview</p>
                    <v-card class="pa-3">
                        <p class="mb-0">Total Customer</p>
                        <v-layout row>
                            <v-flex xs4>
                                <v-card style="background-color: #34C86B" class="pa-3">
                                    <span class="numberInCard">198,761</span><br/>
                                    <span class="textInCard">New Customer</span><br/>
                                    <span class="textInCard" style="font-size: 12px">+ 24%</span>
                                </v-card>
                            </v-flex>
                            <v-flex xs4>
                                <v-card style="background-color: #E69804" class="pa-3">
                                    <span class="pb-5 numberInCard">22,094</span><br/>
                                    <span class="pb-5 textInCard">Pending Customer</span><br/>
                                    <span class="pb-5 textInCard" style="font-size: 12px">- 5.2%</span>
                                </v-card>
                            </v-flex>
                            <v-flex xs4>
                                <v-card style="background-color: #EB7A63" class="pa-3">
                                    <span class="pb-5 numberInCard">205</span><br/>
                                    <span class="pb-5 textInCard">Suspended Customer</span><br/>
                                    <span class="pb-5 textInCard" style="font-size: 12px">+ 0.06%</span>
                                </v-card>
                            </v-flex>
                        </v-layout>
                        <p class="mb-0 mt-4">Company Information</p>
                        <v-layout>
                            <v-flex>
                                <v-tabs slider-color="light-blue accent-4">
                                    <v-tab ripple>New Customers</v-tab>
                                    <v-tab disabled ripple>Pending Customers</v-tab>
                                    <v-tab disabled ripple>Suspended Customers</v-tab>
                                    <v-spacer></v-spacer>
                                </v-tabs>
                            </v-flex>
                            <v-flex class="pb-2">
                                <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex class="pb-2">
                                <v-data-table
                                        :headers="headers"
                                        :items="items"
                                        :pagination.sync="pagination"
                                        @update:pagination="fetch"
                                        :rows-per-page-items="[5, 25, 100, 150, 200]"
                                        class="elevation-1"
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-left">
                                            <v-avatar size="32">
                                                <v-img :src="'http://i.pravatar.cc/150?u=fffineoz' + props.item.id"></v-img>
                                            </v-avatar>
                                        </td>
                                        <td class="text-xs-left">{{ props.item.id }}</td>
                                        <td class="text-xs-left">{{ props.item.name }}</td>
                                        <td class="text-xs-left">
                                            {{ props.item.mail }}
                                        </td>
                                        <td class="text-xs-left">{{ props.item.phone }}</td>
                                        <td class="text-xs-left">
                                            <v-btn color="info" small flat :to="'/customers/' + props.item.id">
                                                View Score
                                            </v-btn>
                                            <v-btn color="info" small flat :to="'/customers/' + props.item.id + '/details'">
                                                View Details
                                            </v-btn>
                                        </td>
                                    </template>
                                    <!-- <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                        Your search for "{{ search }}" found no results.
                                    </v-alert> -->
                                </v-data-table>
                            </v-flex>
                        </v-layout>
                        <n-link to="/customers/check">
                            <v-btn absolute dark fab top right color="indigo">
                                <v-icon>add</v-icon>
                            </v-btn>
                        </n-link>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'page-customers',

        layout: 'customer',
        data () {
            return {
                nik: '3519060412940001',
                dummy_nik: [],
                search: '',
                dialog: false,
                dialog2: false,
                headers: [
                    {
                        text: '',
                        sortable: false,
                    },
                    {
                        text: 'ID',
                        align: 'left',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Name',
                        value: 'name',
                        sortable: false
                    },
                    {
                        text: 'Email',
                        value: 'email',
                        sortable: false
                    },
                    {
                        text: 'Phone',
                        value: 'phoneNumber',
                        sortable: false
                    },
                    {
                        text: '',
                        sortable: false
                    }
                ],
                customerList: [],
                pagination: {
                    descending: false,
                    page: 1,
                    rowsPerPage: 25,
                    sortBy: 'id',
                    totalItems: 0
                }
            }
        },

        computed: {
            items () {
                return this.customerList.map(c => {
                    return {
                        id: c.id,
                        photo: 'https://d3ui957tjb5bqd.cloudfront.net/images/users/22/227/227721/avatar-50-50.jpg?1486431811',
                        name: c.name,
                        mail: c.emailAddress,
                        phone: c.phoneNumber
                    }
                })
            }
        },

        methods: {
            async fetch () {
                let params = {
                    page: this.pagination.page - 1,
                    size: this.pagination.rowsPerPage
                }
                let res = await this.$api.customer.get(params)
                if (res) {
                    this.customerList = res.data
                    this.pagination.totalItems = res.pagination.totalElements
                }
            },

            async check_nik() {
                // console.log('NIK input: '+this.nik);
                axios.get('http://localhost:9000/fineoz_api/api/ai_score/dummy_nik/read_single.php?nik='+this.nik).then((response) => {
                    console.log(JSON.stringify(response.data));
                    var json = JSON.stringify(response.data);
                    var obj = JSON.parse(json);
                    var nik = obj.nik;

                    if(nik == null)
                    {
                        this.dialog2 = true;
                    }
                    else
                    {
                        this.dialog = true;
                    }

                })

                // this.$store.dispatch('snackbar');
            }
        },

        mounted () {
            this.fetch()
        }
    }
</script>

<style lang="css" scoped>
    p.judul {
        font-weight: bold;
        color: #0A5488;
        font-size: 32px;
    }
    p.subjudul {
        font-size: 16px;
        color: #2F2D3B;
        font-weight: bold;
    }
    .numberInCard {
        /*font-family: Rubik;*/
        font-size: 28px;
        color: #FFFFFF;
    }
    .textInCard {
        /*font-family: "Avenir Next";*/
        font-weight: bold;
        color: #FFFFFF;
        padding-top: 8px;
    }
</style>
