<template>
    <v-app>
        <SidebarCustomer/>
        <ToolbarCustomer/>
        <v-content>
            <v-container grid-list-xl fluid>
                <nuxt/>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import SidebarCustomer from "@/components/customer/SidebarCustomer";
    import ToolbarCustomer from "@/components/customer/ToolbarCustomer";
    export default {
        head: {
            title: 'Customer Menu'
        },
        components: {
            ToolbarCustomer,
            SidebarCustomer
        }
    }
</script>

<style scoped>

</style>
