<template>
    <v-app>
        <v-content class="left_position"></v-content>
        <v-content class="left_position box"></v-content>
        <v-content>
            <p class="fineoz"><i>FINEOZ AI</i></p>
            <p class="about">
                <i>Artificial Intelligence based Financial Credit Solutions for Businesses and Consumers</i>
            </p>
            <p class="details">
                Fineoz introduces innovative AI solutions to fulfill the needs of financial credit processes from credit verification, assessment, decision making and monitoring.
            </p>
        </v-content>
        <v-content class="right_position">
            <v-img class="logo" src="http://fineoz.com/assets/images/fineoz-1-707x392.png"/>
            <p class="text1">Sign In to Dashboard!</p>
            <p class="text2">Sign in to see user report, management, ai-check, and ai-scoring.</p>
            <v-text-field append-icon="person" name="login" v-model="model.usernameOrEmail" class="form" outline label="Email or username" type="text"></v-text-field>
            <v-text-field append-icon="lock" name="password" v-model="model.password" class="form" outline label="Password" type="password"></v-text-field>
            <v-checkbox style="margin-left: 70px" v-model="checkbox" label="Keep me signed in"></v-checkbox>
            <v-btn style="margin-left: 74px" @click="login" class="indigo" large dark :loading="loading">SIGN IN</v-btn>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "loginlain",
        layout: 'default',
        data: () => ({
            model: {
                usernameOrEmail: 'fineoz',
                password: 'fineoz123456'
            },
            checkbox: false,
            loading: false
        }),
        methods: {
            async login () {
                this.loading = true;
                await this.$store.dispatch('auth/login', this.model);
                this.loading = false;
            }
        }
    }
</script>

<style scoped lang="css">
    .logo {
        width: 310px;
        height: 106px;
        margin-top: 50px;
        margin-left: 74px;
    }
    .form {
        margin-left: 74px;
        margin-right: 250px;
    }
    p.fineoz {
        font-size: 48px;
        font-weight: bold;
        color: #FFFFFF;
        z-index: 5000;
        padding-left: 102px;
        padding-top: 100px;
    }
    p.about {
        width: 50%;
        font-family: "Avenir Next";
        font-weight: bold;
        font-size: 42px;
        color: #FFFFFF;
        padding-left: 102px;
        padding-right: 200px;
        margin-top: 32px;
    }
    p.details {
        width: 50%;
        font-family: "Avenir Next";
        padding-left: 102px;
        padding-right: 200px;
        padding-top: 42px;
        font-size: 28px;
        color: #FFFFFF;
        text-align: justify;
    }
    p.text1 {
        margin-left: 74px;
        margin-top: 30px;
        font-size: 42px;
        font-family: Arial;
        font-weight: bold;
    }
    p.text2 {
        margin-left: 74px;
        font-size: 18px;
        color: #868686;
    }

    .left_position {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 0;
        background-color: #4a4a4a;
        opacity: 0.9;
    }
    .left_position.box {
        background: url("https://i.ibb.co/hBQFcTg/image.png");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
    }
    .right_position {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        z-index: 0;
    }
</style>
