<template>
    <div class="chart-line">
        <chartist
            class="chart-line__chart"
            ratio="1"
            type="Line"
            :data="chartData"
            :options="options"
        />
    </div>
</template>

<script>
export default {
    name: 'ChartLine',

    props: {
        labels: {
            type: Array,
            default: () => []
        },
        series: {
            type: Array,
            default: () =>[]
        }
    },

    computed: {
        chartData () {
            return {
                labels: this.labels,
                series: this.series
            }
        },
        options () {
            return {
                low: 0,
                high: 100,
                fullWidth: true,
                axisY: {
                    onlyInteger: true,
                    offset: 20
                }
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.chart-line {
    height: 100%;

    &__chart {
        height: 100%;
    }
}
</style>
