<template>
  <div class="chart-score">
    <div style="opacity: 0; position: absolute;">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <pattern id="gradientscore" patternUnits="userSpaceOnUse" width="100" height="100">
            <image :xlink:href="require('@/assets/images/gradient-full.png')" width="100" height="100" />
          </pattern>
        </defs>
      </svg>
    </div>

    <chartist
      class="chart-score__chart"
      type="Pie"
      :data="chartData"
      :options="options"
    />

    <div class="chart-score__value" style="margin-top: 12px">
      <div class="fs-sm fw-bold text-center w-100">
        {{ score }}%
      </div>
    </div>

    <div class="chart-score__score">
      {{letter}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChartScore',

  props: {
    score: {
      type: Number
    },
    letter: {
      type: String
    }
  },

  computed: {
    chartData () {
      let p = this.score
      return {
        series: [p, 100 - p]
      }
    },
    options () {
      return {
        donut: true,
        donutWidth: 8,
        showLabel: false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.chart-score {
    position: relative;

  &__chart {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;

    /deep/.ct-series-a {
      .ct-slice-donut {
        stroke: url(#gradientscore) !important;
      }
    }
    /deep/.ct-series-b {
      .ct-slice-donut {
        stroke: #E7E7E7 !important;
      }
    }
  }

  &__value {
    z-index: 1;
    position: absolute;
    top: 28px;
    width: 100%;
    text-align: center;
  }

  &__score {
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      margin-top: 8px;
  }
}
</style>
