<template>
    <div :class="['chart-scored', { 'chart-scored--disabled': disabled }]">
        <div class="chart-scored__bar">
            <div class="chart-scored__bar-fg" :style="{ width: `${100 - value}%` }"/>
        </div>
        <div class="chart-scored__pop" :style="{ left: `${value}%` }">
            {{ letterComputed }}
        </div>


        <div class="chart-scored__title">
            {{ title }}
        </div>
        <div class="chart-scored__value">
            {{ value }}%
        </div>
    </div>
</template>

<script>
export default {
    name: 'ChartScoreDetail',

    props: {
        title: {
            type: String,
            default: ''
        },
        value: {
            type: Number,
            default: 0
        },
        letter: {
            type: String,
            default: ''
        },
        disabled: {
            type: Boolean
        }
    },

    computed: {
        letterComputed () {
            if (this.letter) return this.letter

            let set = {
                'A': 90,
                'B': 70,
                'C': 50,
                'D': 20,
                'E': 0
            }
            return Object.keys(set).find(k => this.value > set[k])
        }
    }
}
</script>


<style lang="scss" scoped>
.chart-scored {
    position: relative;
    padding-top: 42px;
    padding-bottom: 24px;

    &--disabled {
        filter: grayscale(1);
        opacity: .6;
    }

    &__bar {
        position: relative;
        width: 100%;
        height: 8px;
        background-image: url('~assets/images/gradient-rect.png');
        background-size: 100%;
        transition: all .2s linear;
    }
    &__bar-fg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: #e7e7e7;
        transition: all .2s linear;
    }

    &__title {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 14px;
        font-weight: bold;
    }

    &__value {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 12px;
        font-weight: bold;
    }

    &__pop {
        position: absolute;
        display: inline-block;
        top: 6px;
        width: 32px;
        padding: 2px;
        background: white;
        text-align: center;
        border-radius: 2px;
        box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
        transition: all .2s linear;
        font-size: 16px;
        font-weight: normal;
        transform: translateX(-16px);

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
            z-index: 1;
        }
    }
}
</style>
