<template>
  <div class="chart-gauge">
    <div style="opacity: 0; position: absolute;">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <pattern id="gradientgauge" patternUnits="userSpaceOnUse" width="180" height="90">
            <image :xlink:href="require('@/assets/images/gradient-half.png')" width="180" height="90" />
          </pattern>
        </defs>
      </svg>
    </div>

    <div class="chart-gauge__wrap">
      <chartist
        class="chart-gauge__chart"
        ratio="ct-minor-second"
        type="Pie"
        :data="chartData"
        :options="options"
      />

      <div class="chart-gauge__value">
        {{ letter }}
        <div class="chart-gauge__value-label">
          {{ score }}%
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChartGauge',

  props: {
    score: {
      type: Number,
      default: ''
    },
    letter: {
        type: String
    }
  },

  computed: {
    chartData () {
      let s = this.score
      if (s > 100) s = 100

      let fill = 100 - s
      return {
        series: [s, fill],
        labels: ['', '']
      }
    },
    options () {
      return {
        donut: true,
        donutWidth: 18,
        startAngle: 270,
        total: 200,
        showLabel: false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.chart-gauge {
  &__chart {
    width: 180px;
    overflow: hidden;
    margin: 0 auto;

    /deep/.ct-series-a {
      .ct-slice-donut {
        // stroke: #1FD001 !important;
        stroke: url(#gradientgauge) !important;
      }
    }
    
    /deep/.ct-series-b {
      .ct-slice-donut {
        stroke: #E7E7E7 !important;
      }
    }
  }

  &__wrap {
    height: 100px;
    overflow: hidden;
    position: relative;
  }

  &__value {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 38px;
    text-align: center;
    color: #1FD001;
    font-size: 22px;

    &-label {
      font-size: 12px;
      font-weight: bold;
      color: #232425;
    }
  }
}
</style>
