<template>
  <div class="chart-donut">
    <chartist
      class="chart-donut__chart"
      type="Pie"
      :data="chartData"
      :options="options"
    />
    <div class="chart-donut__labels text-center absolute t-0 h-100">
      <h5>{{ title }}</h5>
      <h3 class="fs-xl">{{ value }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChartDonut',

  props: {
    title: String,
    value: String,
    items: {
      type: Array,
      default: () => []
    }
  },

  computed: {
    chartData () {
      return {
        labels: this.items.map(item => item.label),
        series: this.items.map(item => item.value)
      }
    },
    options () {
      return {
        donut: true,
        donutWidth: 8,
        showLabel: false,
        plugins: [
          this.$chartist.plugins.legend()
        ]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.chart-donut {
  &__chart {
    height: 150px;
    width: 150px;
  }
  &__labels {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    padding-top: 64px;
    text-align: center;

    h4 {

    }
  }
}
</style>
